<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- product-cart07:06-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- ../user/libs CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">
</head>

<body class="product-cart checkout-cart blog">

    <!-- header -->
    {{> user_header}}

    <!-- main content -->
    <div class="main-content" id="cart">
        <!-- main -->
        <div id="wrapper-site">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Shopping Cart</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <section id="main">
                            <div class="cart-grid row">

                                <div class="col-md-9 col-xs-12 check-info">
                                    <h1 class="title-page">Shopping Cart</h1>
                                    <form action="/checkout" method="post">
                                        <div class="cart-container">
                                            {{#if catData}}

                                            <div class="cart-overview js-cart">
                                                <ul class="cart-items">
                                                    {{#each catData}}
                                                    <li class="cart-item">
                                                        <div class="product-line-grid row justify-content-between">
                                                            <!--  product left content: image-->
                                                            <div class="product-line-grid-left col-md-2">
                                                                <span class="product-image media-middle">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid" src="{{this.image}}"
                                                                            alt="Organic Strawberry Fruits">
                                                                    </a>
                                                                </span>
                                                            </div>
                                                            <div class="product-line-grid-body col-md-6">
                                                                <div class="product-line-info">
                                                                    <a class="label" href="product-detail.html"
                                                                        data-id_customization="0">{{this.product}}</a>
                                                                </div>
                                                                <div class="product-line-info product-price">
                                                                    {{#if this.offer}}
                                                                    <del><span class="value">Rs.{{this.price}}</span></del>
                                                                    <span class="value">Rs.{{this.offerPrice}}</span>
                                                                    {{else}}
                                                                    <span class="value">Rs.{{this.offerPrice}}</span>
                                                                    {{/if}}

                                                                </div>
                                                                {{!-- <div class="product-line-info">
                                                                    <span class="label-atrr">Size:</span>
                                                                    <span class="value">S</span>
                                                                </div>
                                                                <div class="product-line-info">
                                                                    <span class="label-atrr">Color:</span>
                                                                    <span class="value">Blue</span>
                                                                </div> --}}
                                                            </div>
                                                            <div
                                                                class="product-line-grid-right text-center product-line-actions col-md-4">
                                                                <div class="row">
                                                                    <div class="col-md-5 col qty">
                                                                        <div class="label">Qty:</div>
                                                                        <div class="quantity">
                                                                            {{!-- <input type="text" name="qty"
                                                                                value="{{this.quentity}}"
                                                                                class="input-group form-control"
                                                                                id="countUpdate"> --}}
                                                                            {{!-- <select class="form-select"
                                                                                aria-label="Default select example"
                                                                                name="status" style="width: 40px;">
                                                                                <option>
                                                                                    {{this.quentity}}</option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>

                                                                            </select> --}}
                                                                            <p class="input-group form-control"
                                                                                id={{this.product}}>{{this.quentity}}
                                                                            </p>

                                                                            <span class="input-group-btn-vertical">
                                                                                {{!-- {{#ifNotEquals this.quentity
                                                                                '10'}} --}}
                                                                                <button
                                                                                    class="btn btn-touchspin js-touchspin bootstrap-touchspin-up"
                                                                                    type="button"
                                                                                    onclick="quantityChange('{{this.product}}' ,1,'{{this.offerPrice}}')">
                                                                                    +
                                                                                    {{!-- ><a
                                                                                        href="/increaseQuantity/{{this.product}}">
                                                                                        +
                                                                                    </a> --}}
                                                                                </button>
                                                                                {{!-- {{/ifNotEquals}} --}}
                                                                                {{!-- {{#ifNotEquals this.quentity '1'}}
                                                                                --}}
                                                                                <button
                                                                                    class="btn btn-touchspin js-touchspin bootstrap-touchspin-down"
                                                                                    type="button"
                                                                                    onclick="quantityChange('{{this.product}}',-1,'{{this.offerPrice}}')">
                                                                                    -
                                                                                    {{!-- ><a
                                                                                        href="/decreaseQuantity/{{this.product}}">
                                                                                        -
                                                                                    </a> --}}
                                                                                </button>
                                                                                {{!-- {{/ifNotEquals}} --}}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 col price">
                                                                        <div class="label">Total:</div>
                                                                        <div class="product-price total">
                                                                            <p id="{{this.product}}+hai">
                                                                                Rs.{{multiply this.offerPrice
                                                                                this.quentity}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-md-2 col text-xs-right align-self-end">
                                                                        <div class="cart-line-product-actions ">
                                                                            <a class="remove-from-cart" rel="nofollow"
                                                                                href="/delete-item-cart/{{this.product}}"
                                                                                data-link-action="delete-from-cart"
                                                                                data-id-product="1"
                                                                                onclick="return confirm('Are you sure?');">
                                                                                <i class="fa fa-trash-o"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                        {{!-- <a href="/checkout" class="continue btn btn-primary pull-xs-right">
                                            Continue
                                        </a> --}}
                                        <button class="btn btn-primary">Continue</button>
                                    </form>
                                    <br>
                                    <a href="/home" class="continue btn btn-primary pull-xs-right">
                                        Continue Shopping
                                    </a>
                                    {{else}}

                                    <h5>Cart is empty</h5>
                                    <br>
                                    <a href="/home" class="continue btn btn-primary pull-xs-right">
                                        Continue Shopping
                                    </a>

                                    {{/if}}
                                </div>

                                {{#if catData}}
                                <div class="cart-grid-right col-xs-12 col-lg-3">
                                    <div class="cart-summary">
                                        <div class="cart-detailed-totals">
                                            <div class="cart-summary-products">
                                                <div class="summary-label">There are {{catDataCount}} item in your cart
                                                </div>
                                            </div>
                                            <div class="cart-summary-line" id="cart-subtotal-products">
                                                <span class="label js-subtotal">
                                                    Total Price:
                                                </span>
                                                <span class="value">Rs. <p id="totalAmount">{{totalPrice}}</p></span>
                                            </div>
                                            <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                <span class="label">
                                                    Total Shipping:
                                                </span>
                                                <span class="value">Free</span>
                                                <div>
                                                    <small class="value"></small>
                                                </div>
                                            </div>
                                            <div class="cart-summary-line cart-total">
                                                <span class="label">Total:</span>
                                                <span class="value">
                                                    <p id="totalAmounts">{{totalPrice}}</p>(tax incl.)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="block-reassurance">
                                        <ul>
                                            <li>
                                                <div class="block-reassurance-item">
                                                    <img src="../user/img/product/check1.png"
                                                        alt="Security policy (edit with Customer reassurance module)">
                                                    <span>Security policy (edit with Customer reassurance module)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-reassurance-item">
                                                    <img src="../user/img/product/check2.png"
                                                        alt="Delivery policy (edit with Customer reassurance module)">
                                                    <span>Delivery policy (edit with Customer reassurance module)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-reassurance-item">
                                                    <img src="../user/img/product/check3.png"
                                                        alt="Return policy (edit with Customer reassurance module)">
                                                    <span>Return policy (edit with Customer reassurance module)</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{> user_footer}}

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
    <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="hasicon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="/" title="Home" style="margin-left: 10%;">
                                Home</a>
                        </li>
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="../user/img/home/table-lamp.png" alt="img">Category</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <div class="menu-items">
                                    <ul>
                                        <li>
                                            <a href="/allproducts">All Products </a>
                                        </li>
                                        {{#each cat}}
                                        <li>
                                            <a href="/catproducts/{{this.name}}">{{this.name}}</a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <a href="/" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Account</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        {{#if userin}}
                                        <li class="item">
                                            <a href="/useraccount/{{userin}}" title="Blog List (Sidebar Left)">
                                                {{userin}}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/cart" title="Blog List (Sidebar Left) 2">Cart
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if cartCount}}
                                                    {{cartCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/wishlist" title="Category Blog (Right column)">Wishlists
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if wishCount}}
                                                    {{wishCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/orderhistory" title="Blog List (No Sidebar)">Order History</a>
                                        </li>
                                        <li class="item">
                                            <a href="/signout" title="Blog Grid (No Sidebar)">Log out</a>
                                        </li>
                                        {{else}}
                                        <li class="item">
                                            <a href="/login" title="Blog Detail">Log In</a>
                                        </li>
                                        <li class="item">
                                            <a href="/user-register" title="Blog Detail">Register Account</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <!-- count change -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function quantityChange(pro, count, price) {
            ///let quantity = document.getElementById('countUpdate').value;
            //console.log(quantity);
            //count = parseInt(count);

            //console.log('enter');
            //console.log(count);

            $.ajax({
                url: '/change-quentity',
                data: {
                    name: pro,
                    count: count,
                    price: price
                },
                method: 'post',
                dataType: 'json',
                success: (response) => {

                    //Update the content of an element with the ID 'quantity'
                    if (response) {
                        console.log(response, 'response got')
                        console.log(response.quantity, 'value kitti')

                        //console.log(price)
                        console.log('success response came');
                        document.getElementById(`${pro}`).innerHTML = response.quantity;
                        document.getElementById(`${pro}+hai`).innerHTML = response.totalPrice;
                        document.getElementById('totalAmount').innerHTML = response.totalAmount
                        document.getElementById('totalAmounts').innerHTML = response.totalAmount
                        //if (response.quantity == 10 || response.quantity == 1) {
                        //    location.reload()
                        //}

                    } else {
                        console.log('error in ajax for updating the quantity of the product')
                    }
                }
            });
        }
    </script>



    <!-- Vendor JS -->
    <script src="../user/libs/jquery/jquery.min.js"></script>
    <script src="../user/libs/popper/popper.min.js"></script>
    <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="../user/libs/slider-range/js/tmpl.js"></script>
    <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="../user/libs/slider-range/js/jquery.slider.js"></script>
    <script src="../user/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS -->
    <script src="../user/js/theme.js"></script>
</body>


<!-- product-cart07:12-->

</html>