<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- user-register11:10-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

        <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">
    <style>
        .form-group span {
            color: red;
        }
    </style>
</head>

<body class="user-register blog">
    
    {{> user_header}}

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Create Account</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <div id="main">
                            <div id="content" class="page-content">
                                <div class="register-form text-center">
                                    <h1 class="text-center title-page">Create Account</h1>
                                    <form id="customer-form" class="js-customer-form" method="post">
                                        <div>
                                            <p id="rege" style="color: red;">{{uname}}</p>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="username" type="text"
                                                        placeholder="username" required value="{{username}}" id="username" onkeyup="validateUsername()"> 
                                                        <span id="usernameErr"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="phone" type="text"
                                                        placeholder="phone number" required value="{{phone}}" id="phone" onkeyup="validatephone()" max="10">
                                                        <span id="phoneErr"></span>
                                                </div>
                                                <span > {{ephone}} </span>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input class="form-control" name="email" type="email"
                                                        placeholder="Email" required value="{{email}}" id="email" onkeyup="validateemail()">
                                                        <span id="emailErr"></span>
                                                </div>
                                                <span> {{uemail}} </span>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <div class="input-group js-parent-focus">
                                                        <input class="form-control js-child-focus js-visible-password"
                                                            name="password" type="password" placeholder="Password"
                                                            required value="{{password}}" id="pass" onkeyup="validatepassword()">
                                                            
                                                    </div>
                                                    <span id="passwordErr"></span>
                                                </div>
                                                <span> {{pass}} </span>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <div class="input-group js-parent-focus">
                                                        <input class="form-control js-child-focus js-visible-password"
                                                            name="confirmpassword" type="password" placeholder="Confirm Password"
                                                            required value="{{password}}" id="conpass" onkeyup="validateconpassword()">
                                                            
                                                    </div>
                                                    <span id="conpasswordErr"></span>
                                                </div>
                                                <span> {{pass}} </span>
                                            </div>
                                            
                                        </div>
                                        <div class="clearfix">
                                            <div>
                                                <button class="btn btn-primary" data-link-action="sign-in"
                                                    type="submit" onclick="return validateForm()">
                                                    Create Account
                                                </button>
                                            </div>
                                            <span id="submitError"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    
    {{> user_footer}}

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
    <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="hasicon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="/" title="Home" style="margin-left: 10%;">
                                Home</a>
                        </li>
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="../user/img/home/table-lamp.png" alt="img">Category</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <div class="menu-items">
                                    <ul>
                                        <li>
                                            <a href="/allproducts">All Products </a>
                                        </li>
                                        {{#each cat}}
                                        <li>
                                            <a href="/catproducts/{{this.name}}">{{this.name}}</a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <a href="/" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Account</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        {{#if userin}}
                                        <li class="item">
                                            <a href="/useraccount/{{userin}}" title="Blog List (Sidebar Left)">
                                                {{userin}}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/cart" title="Blog List (Sidebar Left) 2">Cart
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if cartCount}}
                                                    {{cartCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/wishlist" title="Category Blog (Right column)">Wishlists
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if wishCount}}
                                                    {{wishCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/orderhistory" title="Blog List (No Sidebar)">Order History</a>
                                        </li>
                                        <li class="item">
                                            <a href="/signout" title="Blog Grid (No Sidebar)">Log out</a>
                                        </li>
                                        {{else}}
                                        <li class="item">
                                            <a href="/login" title="Blog Detail">Log In</a>
                                        </li>
                                        <li class="item">
                                            <a href="/user-register" title="Blog Detail">Register Account</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <script>
        setTimeout(()=>{
            const val = document.getElementById('inemail')
            val.style.display="none"
            const rege = document.getElementById('rege')
            rege.style.display = "none"
        },5000)

        const nameError = document.getElementById('usernameErr')
        const phoneError = document.getElementById('phoneErr')
        const emailError = document.getElementById('emailErr')
        const passError = document.getElementById('passwordErr')
        const conpassError = document.getElementById('conpasswordErr')


        function validateUsername(){
            name = document.getElementById('username').value
            if(name.length == 0 ) {
                nameError.innerHTML = 'Enter the username'
                nameError.style.color = 'red'
                return false
            }
            if(!name.match(/^[a-zA-Z0-9_]{3,20}/)){
                nameError.innerHTML = 'minimun 3 characters'
                nameError.style.color = 'red'
                return false
            }
            nameError.innerHTML = ''
            return true
        }
        function validatephone(){
            const phone = document.getElementById('phone').value
            if(phone.length == 0 ) {
                phoneError.innerHTML = 'Enter the phoneNumber'
                document.getElementById('phoneError').style.borderColor = 'red'
                return false
            }
            if(!phone.match(/^\d{10}/)){
                phoneError.innerHTML = 'Enter a vaild number'
                document.getElementById('phoneError').style.borderColor = 'red'
                return false
            }
            if(phone.length >10){
                phoneError.innerHTML = 'Length of the number is more than 10'
                document.getElementById('phoneError').style.borderColor = 'red'
                return false
            }
            phoneError.innerHTML = ''
            return true

        }
        function validateemail(){
            const email = document.getElementById('email').value
            if(email.length == 0 ) {
                emailError.innerHTML = 'Enter the emailAddress'
                emailError.style.color = 'red'
                return false
            }
            if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
                emailError.innerHTML = 'Enter a vaild emailaddress'
                emailError.style.color = 'red'
                return false
            }
            emailError.innerHTML = ''
            return true

        }
        function validatepassword(){
            const pass = document.getElementById('pass').value
            if(pass.length == 0 ) {
                passError.innerHTML = 'Enter the password'
                passError.style.color = 'red'
                return false
            }
            if(!pass.match(/^[A-Za-z0-9]{8,}/)){
                passError.innerHTML = 'minimum 8 characters'
                passError.style.color = 'red'
                return false
            }
            passError.innerHTML = ''
            return true

        }
        function validateconpassword(){
            const pass = document.getElementById('pass').value
            const conpass = document.getElementById('conpass').value
            if(pass.length == 0){
                conpassError.innerHTML = 'Enter the password first'
                conpassError.style.color = 'red'
                return false
            }
            if(pass != conpass){
                conpassError.innerHTML = 'password not match, enter correct password'
                conpassError.style.color = 'red'
                return false
            }
            conpassError.innerHTML = ''
            return true
        }

        function validateForm(){
            if(!validateUsername() || !validateemail() || !validatepassword() || !validatephone() || !validateconpassword()){
                submitError.style.display = 'block'
                submitError.innerHTML = 'Correct the mistake in the form'
                setTimeout(()=>{
                    submitError.style.display = 'none'
                },4000)
                return false
            }
            return true;
        }
    </script>


    <!-- Vendor JS -->
    <script src="../user/libs/jquery/jquery.min.js"></script>
    <script src="../user/libs/popper/popper.min.js"></script>
    <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="../user/libs/slider-range/js/tmpl.js"></script>
    <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="../user/libs/slider-range/js/jquery.slider.js"></script>
    <script src="../user/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS -->
    <script src="../user/js/theme.js"></script>

    <!--  form validation working   -->

    {{!-- <script src="../user/js/validation.js"></script> --}}
</body>


<!-- user-register11:10-->

</html>