<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- product-checkout07:12-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">
</head>

<body class="product-checkout checkout-cart">
    <!-- user header -->
    {{> user_header}}
    <!-- main content -->
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Order History </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Details</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

            <!-- main -->

            {{!-- <div class="container mt-5 p-5">
                <div class="row">
                    {{#each data}}
                    <div class="container mt-5">

                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{this.img}}" alt="image" style="height: 50%;">
                            </div>
                            <div>
                                <h2>{{this.product}}</h2>
                                <p>Quantity: {{this.quentity}}</p>
                                <p>Price : {{this.price}}</p>
                                <p>OrderId : {{this.orderId}}</p>
                                <p>Address : {{this.address.houseName}}, {{this.address.city}}, {{this.address.state}},
                                    {{this.address.country}}</p>
                                <p>Pin Code: {{this.address.pincode}}</p>
                                <p>Payment Type : COD</p>
                                {{#ifEquals this.status 'Delivered Successfully'}}
                                <p style="color:green">Status : {{this.status}}</p>
                                {{else}}
                                <p>Status : {{this.status}}</p>
                                {{/ifEquals}}
                                {{#ifEquals this.status 'CANCELED'}}

                                {{else ifEquals data.status 'Delivered Successfully'}}
                                Return : <a href="" class="btn btn-danger">Return</a>
                                {{else}}
                                Cancel : <a href="/cancelProduct/{{this.orderId}}" class="btn btn-danger">Cancel</a>
                                {{/ifEquals}}

                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>
            </div> --}}

            {{!-- <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="product-image.jpg" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h2>Product Name</h2>
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Price: $49.99</p>
                        <p>Availability: In Stock</p>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" class="form-control" value="1" min="1">
                        </div>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <h3>Product Details</h3>
                        <ul>
                            <li>Feature 1: Lorem ipsum dolor sit amet</li>
                            <li>Feature 2: Consectetur adipiscing elit</li>
                            <li>Feature 3: Sed do eiusmod tempor incididunt ut labore</li>
                            <!-- Add more features as needed -->
                        </ul>
                    </div>
                </div>
            </div> --}}
            {{!-- <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">

                                    <div class="col-md-9 check-info">
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3">
                                                Order History
                                            </h3>
                                            <div>
                                                <div class="card" style="width: 18rem;">
                                                    <img src="..." class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the
                                                            card title and make up the bulk of the card's content.</p>
                                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <a href="/home" class="btn btn-primary">Continue Shopping</a>
                    </div>
                </div>
            </div> --}}


            <div class="container mt-5">
                <h2>Order Details</h2>

                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div style="display: flex;">

                                    <div>
                                        <img src="{{data.[0].img}}" alt="Product Image" style="height: 150px;">
                                        <h5 class="card-title">Order ID: {{data.[0].orderId}}</h5>
                                        <p class="card-text">Order Date: {{formatDate data.[0].orderDate}}</p>
                                    </div>
                                    <div style="color: gray;;margin-left: 10%;">
                                        <h5 class="mt-4 mb-3">Product Name : {{data.[0].product}}</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item">Quantity: {{data.[0].quentity}} | Price:
                                                {{price.[0].price}}</li>
                                        </ul>
                                        <h5 class="mt-4">Total Price: {{data.[0].price}}</h5>
                                    </div>
                                </div>

                                <!--order status -->
                                <h5>Status</h5>
                                {{!-- <ul class="list-group" style="display: flex;"> --}}
                                    {{#ifEquals data.[0].status 'Delivered Successfully'}}
                                    <ul class="list-group">

                                        {{#if data.[0].returnStatus}}
                                        {{#ifEquals data.[0].returnStatus 2}}
                                        <li class="list-group-item" style="color: red;">Return: Rejected</li>
                                        {{else}}
                                        <li class="list-group-item" style="color: green;">Return: Accepted</li>
                                        {{/ifEquals}}
                                        {{else}}

                                        {{#if data.[0].returnreason}}
                                        <li class="list-group-item" style="color: red;">Return: Pending</li>
                                        {{else}}
                                        <li class="list-group-item" style="color: green;">Delivered Successfully</li>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            Return
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <form
                                                    action="/returnreason/{{data.[0].orderId}}?product={{data.[0].product}}"
                                                    method="post">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Return
                                                                Product</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label class="form-control-label">Reason</label>
                                                            <input type="text" class="form-control" name="reason">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-warning">Save
                                                                changes</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        {{/if}}

                                        {{/if}}

                                    </ul>





                                    {{else}}

                                    {{#ifEquals data.[0].status 'CANCELED'}}

                                    <ul class="list-group">
                                        <li class="list-group-item" style="color: red;">CANCELED</li>
                                    </ul>
                                    {{else}}
                                    <ul class="list-group">
                                        <li class="list-group-item" style="color: rgb(214, 190, 146);">
                                            {{data.[0].status}}</li>
                                        <li class="list-group-item"><a
                                                href="/cancelProduct?orderId={{data.[0].orderId}}&product={{data.[0].product}}"
                                                class="btn btn-danger">Cancel</a></li>
                                    </ul>

                                    {{/ifEquals}}
                                    {{/ifEquals}}

                                    <!-- Product List -->

                            </div>
                        </div>
                    </div>

                    <!-- Additional Information (Billing/Shipping Address, etc.) -->
                    <div class="col-md-4">
                        <div class="card" style="background-color: rgb(133, 133, 133);">
                            <div class="card-body" style="color: white;">
                                <h5 class="card-title">Shipping Address</h5>
                                <p class="card-text">Name : {{data.[0].username}}</p>
                                <p class="card-text">House Name : {{data.[0].address.houseName}}</p>
                                <p class="card-text">City: {{data.[0].address.city}}</p>
                                <p class="card-text">Country: {{data.[0].address.country}}</p>
                                <p class="card-text">Pin Code: {{data.[0].address.pincode}}</p>
                            </div>
                        </div>

                        {{!-- <div class="card mt-4">
                            <div class="card-body">
                                <h5 class="card-title">Shipping Address</h5>
                                <p class="card-text">Jane Doe</p>
                                <p class="card-text">456 Second St</p>
                                <p class="card-text">City: Othertown</p>
                                <p class="card-text">Country: USA</p>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    {{> user_footer}}

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
    <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="hasicon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="/" title="Home" style="margin-left: 10%;">
                                Home</a>
                        </li>
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="../user/img/home/table-lamp.png" alt="img">Category</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <div class="menu-items">
                                    <ul>
                                        <li>
                                            <a href="/allproducts">All Products </a>
                                        </li>
                                        {{#each cat}}
                                        <li>
                                            <a href="/catproducts/{{this.name}}">{{this.name}}</a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <a href="/" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Account</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        {{#if userin}}
                                        <li class="item">
                                            <a href="/useraccount/{{userin}}" title="Blog List (Sidebar Left)">
                                                {{userin}}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/cart" title="Blog List (Sidebar Left) 2">Cart
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if cartCount}}
                                                    {{cartCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/wishlist" title="Category Blog (Right column)">Wishlists
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if wishCount}}
                                                    {{wishCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/orderhistory" title="Blog List (No Sidebar)">Order History</a>
                                        </li>
                                        <li class="item">
                                            <a href="/signout" title="Blog Grid (No Sidebar)">Log out</a>
                                        </li>
                                        {{else}}
                                        <li class="item">
                                            <a href="/login" title="Blog Detail">Log In</a>
                                        </li>
                                        <li class="item">
                                            <a href="/user-register" title="Blog Detail">Register Account</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor JS -->
    <script src="../user/libs/jquery/jquery.min.js"></script>
    <script src="../user/libs/popper/popper.min.js"></script>
    <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="../user/libs/slider-range/js/tmpl.js"></script>
    <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="../user/libs/slider-range/js/jquery.slider.js"></script>
    <script src="../user/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS-->
    <script src="../user/js/theme.js"></script>
</body>


<!-- product-checkout07:13-->

</html>