<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- product-list-sidebar-left10:55-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">
</head>

<body id="product-sidebar-left">

    {{> user_header}}

    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>{{data}}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>

                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">

                                        <!-- category menu -->
                                        <div class="sidebar-block">
                                            <div class="title-block">Categories</div>
                                            <div class="block-content">
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse"
                                                        data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="/catproducts/allproducts">All
                                                        Products</a>
                                                </div>
                                                {{#each cat}}
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse"
                                                        data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>

                                                    <a class="cateItem" href="/catproducts/{{this.name}}">{{this.name}}
                                                    </a>

                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>

                                        <div class="sidebar-block">
                                            <div class="title-block">Sort by Price</div>
                                            <div class="block-content">
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse"
                                                        data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="/highLow?data={{category}}">high
                                                        to low</a>
                                                </div>

                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse"
                                                        data-target="#livingroom" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>

                                                    <a class="cateItem" href="/lowHigh?data={{category}}">low to
                                                        high
                                                    </a>

                                                </div>

                                            </div>
                                        </div>

                                        <!-- best seller -->


                                        <!-- product tag -->

                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-8 product-container">
                                        <h1>{{this.data}}</h1>
                                        <div class="js-product-list-top firt nav-top">
                                            <div class="d-flex justify-content-around row">
                                                <div class="col col-xs-12 ">
                                                    <ul class="nav nav-tabs">
                                                        <li>
                                                            <a href="#grid" data-toggle="tab"
                                                                class="fa fa-th-large"></a>
                                                        </li>
                                                        <li>
                                                            <a href="#list" data-toggle="tab"
                                                                class="active show fa fa-list-ul"></a>
                                                        </li>
                                                    </ul>
                                                    <div class="hidden-sm-down total-products">
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col col-xs-12">
                                                    <div class="d-flex sort-by-row justify-content-end">
                                                        {{!-- <div class="products-sort-order dropdown">
                                                            <select class="select-title">
                                                                <option value="">Sort by</option>
                                                                <option value="/AZ-sort/{{this.category}}">Name, A to Z
                                                                </option>
                                                                <option value=""><a href="">Name, Z to A</a></option>
                                                                <option value="lowhigh"><a href="/lowHigh"><button
                                                                            type="submit">Price, low to
                                                                            high</button></a></option>
                                                                <option value="highlow"><a href="/highLow">Price, high
                                                                        to low</a></option>
                                                            </select>
                                                        </div> --}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-content product-items">
                                            <div id="grid" class="related tab-pane fade">
                                                <div class="row">
                                                    {{#each Product}}
                                                    {{#if this.display}}

                                                    {{else}}
                                                    <div class="item text-center col-md-4">
                                                        <div
                                                            class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container border">
                                                                <a href="/productDetails/{{this.name}}">
                                                                    <img class="img-fluid image-cover"
                                                                        src="{{this.imagePath.[0]}}" alt="img">
                                                                    <img class="img-fluid image-secondary"
                                                                        src="{{this.imagePath.[1]}}" alt="img">
                                                                </a>
                                                                <div class="highlighted-informations">
                                                                    <div class="variant-links">
                                                                        <a href="#" class="color beige"
                                                                            title="Beige"></a>
                                                                        <a href="#" class="color orange"
                                                                            title="Orange"></a>
                                                                        <a href="#" class="color green"
                                                                            title="Green"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a
                                                                            href="/productDetails/{{this.name}}">{{this.name}}</a>
                                                                    </div>
                                                                    <div class="rating">
                                                                        <div class="star-content">
                                                                            <div class="star"></div>
                                                                            <div class="star"></div>
                                                                            <div class="star"></div>
                                                                            <div class="star"></div>
                                                                            <div class="star"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-group-price">
                                                                        <div class="product-price-and-shipping">
                                                                            {{#if this.offer}}
                                                                            <span class="price"><del>{{this.price}}</del>&nbsp;{{this.discountAmount}}Rs.
                                                                            </span>
                                                                            {{else}}
                                                                            <span class="price">Rs.{{this.price}}</span>
                                                                            {{/if}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="product-buttons d-flex justify-content-center">
                                                                    <form action="#" method="post"
                                                                        class="formAddToCart">
                                                                        <input type="hidden" name="id_product"
                                                                            value="1">
                                                                        <a class="add-to-cart"
                                                                            href="/add-to-cart/{{this.name}}"
                                                                            data-button-action="add-to-cart">
                                                                            <i class="fa fa-shopping-cart"
                                                                                aria-hidden="true"></i>
                                                                        </a>
                                                                    </form>
                                                                    <a class="addToWishlist"
                                                                        href="/wishlist/{{this.name}}" data-rel="1"
                                                                        onclick="">
                                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a href="/productDetails/{{this.name}}"
                                                                        class="quick-view hidden-sm-down"
                                                                        data-link-action="quickview">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/if}}
                                                    {{/each }}
                                                </div>
                                            </div>
                                            <div id="list" class="related tab-pane fade in active show">
                                                <div class="row">
                                                    {{#each Product}}
                                                    {{#if this.display}}
                                                    {{else}}
                                                    <div class="item col-md-12">
                                                        <div class="product-miniature item-one first-item">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="thumbnail-container border">
                                                                        <a href="/productDetails/{{this.name}}">
                                                                            <img class="img-fluid image-cover"
                                                                                src="{{this.imagePath.[0]}}" alt="img">
                                                                            <img class="img-fluid image-secondary"
                                                                                src="{{this.imagePath.[1]}}" alt="img">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="product-description">
                                                                        <div class="product-groups">
                                                                            <div class="product-title">
                                                                                <a
                                                                                    href="/productDetails/{{this.name}}">{{this.name}}</a>
                                                                                {{!-- <span class="info-stock">
                                                                                    <i class="fa fa-check-square-o"
                                                                                        aria-hidden="true"></i>
                                                                                    {{#if {{this.stock}} }}
                                                                                    In Stock
                                                                                    {{/else}}
                                                                                    Out of Stock
                                                                                    {{/if}}
                                                                                </span> --}}
                                                                            </div>
                                                                            <div class="rating">
                                                                                <div class="star-content">
                                                                                    <div class="star"></div>
                                                                                    <div class="star"></div>
                                                                                    <div class="star"></div>
                                                                                    <div class="star"></div>
                                                                                    <div class="star"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-group-price">
                                                                                <div class="product-price-and-shipping">
                                                                                    {{#if this.offer}}
                                                                            <span class="price"><del>{{this.price}}</del>&nbsp;{{this.discountAmount}}Rs.
                                                                            </span>
                                                                            {{else}}
                                                                            <span class="price">Rs.{{this.price}}</span>
                                                                            {{/if}}
                                                                                </div>
                                                                            </div>
                                                                            <div class="discription">
                                                                                {{this.discription}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-buttons d-flex">
                                                                            <form action="#" method="post"
                                                                                class="formAddToCart">
                                                                                <a class="add-to-cart"
                                                                                    href="/add-to-cart/{{this.name}}"
                                                                                    data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart"
                                                                                        aria-hidden="true"></i>Add to
                                                                                    cart
                                                                                </a>
                                                                            </form>
                                                                            <a class="addToWishlist"
                                                                                href="/wishlist/{{this.name}}"
                                                                                data-rel="1" onclick="">
                                                                                <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                            <a href="/productDetails/{{this.name}}"
                                                                                class="quick-view hidden-sm-down"
                                                                                data-link-action="quickview">
                                                                                <i class="fa fa-eye"
                                                                                    aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/if}}
                                                    {{/each }}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- pagination -->
                                        <div class="pagination">
                                            <div class="js-product-list-top ">
                                                <div class="d-flex justify-content-around row">
                                                    <div class="showing col col-xs-12">
                                                        <span>SHOWING {{presentPage}}-{{totalPageCount}} OF
                                                            {{totalPageCount}} ITEM(S)</span>
                                                    </div>
                                                    <div class="page-list col col-xs-12">
                                                        <ul>
                                                            {{#if currentPage}}
                                                            <li>
                                                                {{#if sort}}
                                                                <a rel="prev"
                                                                    href="/{{sort}}?page={{currentPage}}&prev=-1&category={{category}}"
                                                                    class="previous disabled js-search-link">
                                                                    Previous
                                                                </a>
                                                                {{else}}
                                                                <a rel="prev"
                                                                    href="/pagination?page={{currentPage}}&prev=-1&category={{category}}"
                                                                    class="previous disabled js-search-link">
                                                                    Previous
                                                                </a>
                                                                {{/if}}
                                                            </li>
                                                            {{/if}}
                                                            {{#if nextPage}}
                                                            <li>
                                                                {{#if sort}}
                                                                <a rel="next"
                                                                    href="/{{sort}}?page={{currentPage}}&next=1&category={{category}}"
                                                                    class="next disabled js-search-link">
                                                                    Next
                                                                </a>
                                                                {{else}}
                                                                <a rel="next"
                                                                    href="/pagination?page={{currentPage}}&next=1&category={{category}}"
                                                                    class="next disabled js-search-link">
                                                                    Next
                                                                </a>
                                                                {{/if}}
                                                            </li>
                                                            {{/if}}

                                                            {{!-- <li class="current active">
                                                                <a rel="nofollow" href="#"
                                                                    class="disabled js-search-link">
                                                                    1
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="nofollow" href="#"
                                                                    class="disabled js-search-link">
                                                                    2
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="nofollow" href="#"
                                                                    class="disabled js-search-link">
                                                                    3
                                                                </a>
                                                            </li> --}}


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {{!-- pagenation ends here --}}
                                    </div>

                                    <!-- end col-md-9-1 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->

    {{> user_footer}}

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
   <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="hasicon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="/" title="Home" style="margin-left: 10%;">
                                Home</a>
                        </li>
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="../user/img/home/table-lamp.png" alt="img">Category</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <div class="menu-items">
                                    <ul>
                                        <li>
                                            <a href="/allproducts">All Products </a>
                                        </li>
                                        {{#each cat}}
                                        <li>
                                            <a href="/catproducts/{{this.name}}">{{this.name}}</a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <a href="/" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Account</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        {{#if userin}}
                                        <li class="item">
                                            <a href="/useraccount/{{userin}}" title="Blog List (Sidebar Left)">
                                                {{userin}}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/cart" title="Blog List (Sidebar Left) 2">Cart
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if cartCount}}
                                                    {{cartCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/wishlist" title="Category Blog (Right column)">Wishlists
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if wishCount}}
                                                    {{wishCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/orderhistory" title="Blog List (No Sidebar)">Order History</a>
                                        </li>
                                        <li class="item">
                                            <a href="/signout" title="Blog Grid (No Sidebar)">Log out</a>
                                        </li>
                                        {{else}}
                                        <li class="item">
                                            <a href="/login" title="Blog Detail">Log In</a>
                                        </li>
                                        <li class="item">
                                            <a href="/user-register" title="Blog Detail">Register Account</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <!-- Vendor JS -->
    <script src="../user/libs/jquery/jquery.min.js"></script>
    <script src="../user/libs/popper/popper.min.js"></script>
    <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="../user/libs/slider-range/js/tmpl.js"></script>
    <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="../user/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="../user/js/theme.js"></script>
</body>


<!-- product-list-sidebar-left10:55-->

</html>