<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- user-acount11:10-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">

</head>

<body class="user-acount">
    <!-- header of the user -->
    {{> user_header}}

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>My Account</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

            <div class="acount head-acount">
                <div class="container">
                    <div id="main">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- User Profile Card -->
                                    <div class="card profile-card" style="background-color: rgb(117, 115, 115);">

                                        <div class="card-body" style="display: flex; ">

                                            <img class="ml-5" height="50px" width="50px" src="../user/userpro.png">

                                            <h5 class="card-title ml-4 mt-3"
                                                style="text-transform: uppercase;color: white;">{{username}}
                                            </h5>
                                        </div>
                                        <hr>
                                         <div class="card-body">
                                            {{#if userData}}
                                            <a href="/update-profile" style=" color: white;">Update Profile</a>
                                            {{else}}
                                            <a href="/add-address" style=" color: white;">Complete Profile</a>
                                            {{/if}}

                                        </div>
                                        <div class="card-body" >
                                            <a href="#" style=" color: white;">Wallet Amount : </a>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success" style="margin-left: 6%;">{{user.wallet}}</span>

                                        </div>
                                        <div class="card-body">
                                            <a href="/orderhistory" style=" color: white;">Order History</a>

                                        </div>
                                       
                                        <div class="card-body">
                                            <a href="/changePassword" style=" color: white;">Change Password</a>

                                        </div>
                                        <div class="card-body">
                                            <a href="/" style=" color: white;"> Continue Shopping</a>
                                        </div>
                                        <div class="card-body">
                                            <a href="/" style=" color: white;">Logout</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <!-- User Details -->
                                    <div class="card user-details-card">
                                        <div class="card-body">
                                            <h5 class="card-title">User Details</h5>
                                            <ul class="list-group list-group-flush">
                                                
                                                <li class="list-group-item"><strong>Name:</strong> {{username}}
                                                <li class="list-group-item"><strong>UserName:</strong> {{userin}}
                                                <li class="list-group-item"><strong>Email:</strong> {{user.email}}
                                                </li>
                                                <li class="list-group-item"><strong>Phone:</strong> {{userData.phone}}
                                                </li>
                                                <li class="list-group-item"><strong>Address:</strong>
                                                    {{userData.address.houseName}},
                                                    {{userData.address.city}}</li>
                                                <li class="list-group-item"><strong>Pin Code:</strong>
                                                    {{userData.address.pincode}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- User Bio -->
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0 mt-2">
                                            <div class="card">
                                                <div class="card-body" style="height: 10%;">

                                                    <h5 class="card-title" style="margin-left: 45%;">+</h5>
                                                    <h6 class="card-subtitle mb-2 text-body-secondary"
                                                        style="margin-left: 25%;">
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Add New Address
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                     <form action="/newAddress?username:{{userin}}" method="post">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5"
                                                                            id="exampleModalLabel">New Address</h1>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                       
                                                                            <div class="form-group">
                                                                                <label for="fullName">Full Name:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="fullName" name="fullname" required
                                                                                    placeholder="Enter your full name">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="fullName">Phone:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="fullName" name="phone" required
                                                                                    placeholder="Enter your full name">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="addressLine1">House Name:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="addressLine1" name="house" required
                                                                                    placeholder="Enter your House Name">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="addressLine1">City:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="addressLine1" name="city" required
                                                                                    placeholder="Enter your City">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="addressLine1">State:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="addressLine1" name="state" required
                                                                                    placeholder="Enter your State">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="addressLine1">Country:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="addressLine1" name="country" required
                                                                                    placeholder="Enter your Country">
                                                                            </div>

                                                                            

                                                                        

                                                                            <div class="form-group">
                                                                                <label for="zipCode" required>PIN Code:</label>
                                                                                <input type="number" class="form-control"
                                                                                    id="zipCode" name="pincode" required
                                                                                    placeholder="Enter your PIN code">
                                                                            </div>
                                                                        
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit"
                                                                            class="btn btn-primary">Save
                                                                            changes</button>
                                                                    </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h6>
                                                    <p class="card-text"></p>
                                                    <a href="#" class="card-link"></a>
                                                    <a href="#" class="card-link"></a>
                                                </div>
                                            </div>
                                        </div>
                                        {{#each useraddress}}
                                        <div class="col-sm-6 mt-2">
                                            <div class="card">
                                                <div class="card-body">

                                                    <h5 class="card-title">Address</h5>
                                                    <h6 class="card-subtitle mb-2 text-body-secondary"><strong>Name</strong> : {{this.fullname}}
                                                    </h6>
                                                    <p class="card-text"><strong>Phone</strong> : {{this.phone}}</p>
                                                    <p class="card-text"><strong>Address</strong> : {{this.address.houseName}} , {{this.address.city}}, {{this.address.state}}
                                                        <br> {{this.address.country}}
                                                    </p>
                                                    <p class="card-text"><strong>PIN Code</strong> : {{this.address.pincode}}</p>
                                                    <a href="/newAddressEdit?userid={{this._id}}" class="card-link">Edit</a>                                                   
                                                    <a >|</a>
                                                    <a href="/removeAddress?userid={{this._id}}" class="card-link">Remove</a>

                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        {{> user_footer}}

        <!-- back top top -->
        <div class="back-to-top">
            <a href="#">
                <i class="fa fa-long-arrow-up"></i>
            </a>
        </div>

        <!-- menu mobie left -->
        <div class="mobile-top-menu d-md-none">
            <button type="button" class="close" aria-label="Close">
                <i class="zmdi zmdi-close"></i>
            </button>
            <div class="tiva-verticalmenu block" data-count_showmore="17">
                <div class="box-content block-content">
                    <div class="verticalmenu" role="navigation">
                        <ul class="menu level1">
                            <li class="item  parent">
                                <a href="#" class="hasicon" title="SIDE TABLE">
                                    <img src="../user/img/home/table-lamp.png" alt="img">SIDE TABLE</a>
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                    <ul>
                                        <li class="item">
                                            <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                        </li>
                                        <li class="item  parent-submenu">
                                            <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                            <span class="arrow collapsed" data-toggle="collapse"
                                                data-target="#sub-Category" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <div class="subCategory collapse" id="sub-Category" aria-expanded="true"
                                                role="status">
                                                <ul>
                                                    <li class="item">
                                                        <a href="#" title="Aliquam lobortis">Aliquam lobortis</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Duis Reprehenderit">Duis Reprehenderit</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Voluptate">Voluptate</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Tongue Est">Tongue Est</a>
                                                    </li>
                                                    <li class="item">
                                                        <a href="#" title="Venison Andouille">Venison Andouille</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Voluptate">Voluptate</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Tongue Est">Tongue Est</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Venison Andouille">Venison Andouille</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item  parent group">
                                <a href="#" class="hasicon" title="FI">
                                    <img src="../user/img/home/fireplace.png" alt="img">FIREPLACE
                                </a>
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#fi"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <div class="subCategory collapse" id="fi" aria-expanded="true" role="status">
                                    <div class="item">
                                        <div class="menu-content">
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>DINNING ROOM</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">Toshiba</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Samsung</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>BATHROOM</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">Toshiba</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Samsung</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier Media</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Gee</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Digimart</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Vitivaa</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sanaky</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sunshine</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>LIVING ROOM</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">Media</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Gee</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Digimart</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Vitivaa</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sanaky</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sunshine</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Toshiba</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Samsung</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>BEDROOM</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>KITCHEN</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tags d-flex d-xs-flex-inherit">
                                                <div class="title">
                                                    <b>Blender</b>
                                                </div>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#">LG</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Sharp</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Electrolux</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Hitachi</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Panasonic</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Mitsubishi Electric</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Daikin</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#">Haier</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item group-category-img parent group">
                                <a href="#" class="hasicon" title="TABLE LAMP">
                                    <img src="../user/img/home/table-lamp.png" alt="img">TABLE LAMP</a>
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#table-lamp"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <div class="subCategory collapse" id="table-lamp" aria-expanded="true" role="status">
                                    <div class="item">
                                        <div class="menu-content">
                                            <div class="col-xs-12">
                                                <span class="menu-title">Coventry dining</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Activewear</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">ASOS Basic Tops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bags &amp; Purses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Beauty</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Coats &amp; Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Curve &amp; Plus Size</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12">
                                                <span class="menu-title">Amara stools</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Activewear</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">ASOS Basic Tops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bags &amp; Purses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Beauty</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Coats &amp; Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Curve &amp; Plus Size</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12">
                                                <span class="menu-title">Kingston dining</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Activewear</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">ASOS Basic Tops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bags &amp; Purses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Beauty</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Coats &amp; Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Curve &amp; Plus Size</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12">
                                                <span class="menu-title">Ellinger dining</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Activewear</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">ASOS Basic Tops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bags &amp; Purses</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Beauty</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Coats &amp; Jackets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Curve &amp; Plus Size</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="OTTOMAN">
                                    <img src="../user/img/home/ottoman.png" alt="img">OTTOMAN
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="ARMCHAIR">
                                    <img src="../user/img/home/armchair.png" alt="img">ARMCHAIR
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="CUSHION">
                                    <img src="../user/img/home/cushion.png" alt="img">CUSHION
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="COFFEE TABLE">
                                    <img src="../user/img/home/coffee_table.png" alt="img">COFFEE TABLE</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="SHELF">
                                    <img src="../user/img/home/shelf.png" alt="img">SHELF
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="SOFA">
                                    <img src="../user/img/home/sofa.png" alt="img">SOFA
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="DRESSING TABLE">
                                    <img src="../user/img/home/dressing.png" alt="img">DRESSING TABLE</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="WINDOWN CURTAIN">
                                    <img src="../user/img/home/windown.png" alt="img">WINDOWN CURTAIN</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="CHANDELIER">
                                    <img src="../user/img/home/chandelier.png" alt="img">CHANDELIER
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="CEILING FAN">
                                    <img src="../user/img/home/ceiling_fan.png" alt="img">CEILING FAN</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="WARDROBE">
                                    <img src="../user/img/home/wardrobe.png" alt="img">WARDROBE
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="FLOOR LAMP">
                                    <img src="../user/img/home/floor_lamp.png" alt="img">FLOOR LAMP</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="VASE-FLOWER ">
                                    <img src="../user/img/home/vase-flower.png" alt="img">VASE-FLOWER
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="BED">
                                    <img src="../user/img/home/bed.png" alt="img">BED
                                </a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="BED GIRL">
                                    <img src="../user/img/home/bed.png" alt="img">BED GIRL</a>
                            </li>
                            <li class="item">
                                <a href="#" class="hasicon" title="BED BOY">
                                    <img src="../user/img/home/bed.png" alt="img">BED BOY</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <!-- menu mobie right -->
        <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
            <div class="content-boxpage col">
                <div class="box-header d-flex justify-content-between align-items-center">
                    <div class="title-box">Menu</div>
                    <div class="close-box">Close</div>
                </div>
                <div class="box-content">
                    <nav>
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div id="megamenu" class="nov-megamenu clearfix">
                            <ul class="menu level1">
                                <li class="item home-page has-sub">
                                    <span class="arrow collapsed" data-toggle="collapse" data-target="#home1"
                                        aria-expanded="true" role="status">
                                        <i class="zmdi zmdi-minus"></i>
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                    <a href="index-2.html" title="Home">
                                        <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                                    <div class="subCategory collapse" id="home1" aria-expanded="true" role="status">
                                        <ul>
                                            <li class="item">
                                                <a href="index-2.html" title="Home Page 1">Home Page 1</a>
                                            </li>
                                            <li class="item">
                                                <a href="home2.html" title="Home Page 2">Home Page 2</a>
                                            </li>
                                            <li class="item">
                                                <a href="home3.html" title="Home Page 3">Home Page 3</a>
                                            </li>
                                            <li class="item">
                                                <a href="home4.html" title="Home Page 4">Home Page 4</a>
                                            </li>
                                            <li class="item">
                                                <a href="home5.html" title="Home Page 5">Home Page 5</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item has-sub">
                                    <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                        aria-expanded="false" role="status">
                                        <i class="zmdi zmdi-minus"></i>
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                    <a href="#" title="Blog">
                                        <i class="fa fa-address-book" aria-hidden="true"></i>Blog
                                    </a>
                                    <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                        <ul>
                                            <li class="item">
                                                <a href="blog-list-sidebar-left.html"
                                                    title="Blog List (Sidebar Left)">Blog
                                                    List (Sidebar Left)</a>
                                            </li>
                                            <li class="item">
                                                <a href="blog-list-sidebar-left2.html"
                                                    title="Blog List (Sidebar Left) 2">Blog List (Sidebar Left) 2</a>
                                            </li>
                                            <li class="item">
                                                <a href="blog-list-sidebar-right.html"
                                                    title="Category Blog (Right column)">Blog List (Sidebar Right)</a>
                                            </li>
                                            <li class="item">
                                                <a href="blog-list-no-sidebar.html" title="Blog List (No Sidebar)">Blog
                                                    List
                                                    (No Sidebar)</a>
                                            </li>
                                            <li class="item">
                                                <a href="blog-grid-no-sidebar.html" title="Blog Grid (No Sidebar)">Blog
                                                    Grid
                                                    (No Sidebar)</a>
                                            </li>
                                            <li class="item">
                                                <a href="blog-detail.html" title="Blog Detail">Blog Detail</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item group has-sub">
                                    <span class="arrow collapsed" data-toggle="collapse" data-target="#page"
                                        aria-expanded="false" role="status">
                                        <i class="zmdi zmdi-minus"></i>
                                        <i class="zmdi zmdi-plus"></i>
                                    </span>
                                    <a href="#" title="Page">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>page
                                    </a>
                                    <div class="subCategory collapse" id="page" aria-expanded="true" role="status">
                                        <ul class="group-page">
                                            <li class="item container group">
                                                <div>
                                                    <ul>
                                                        <li class="item col-md-4 ">
                                                            <span class="menu-title">Category Style</span>
                                                            <div class="menu-content">
                                                                <ul class="col">
                                                                    <li>
                                                                        <a href="product-grid-sidebar-left.html">Product
                                                                            Grid (Sidebar Left)</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="product-grid-sidebar-right.html">Product
                                                                            Grid (Sidebar Right)</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="product-list-sidebar-left.html">Product
                                                                            List (Sidebar Left) </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li class="item col-md-4 html">
                                                            <span class="menu-title">Product Detail Style</span>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li>
                                                                        <a href="product-detail.html">Product Detail
                                                                            (Sidebar Left)</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Product Detail (Sidebar Right)</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li class="item col-md-4 html">
                                                            <span class="menu-title">Bonus Page</span>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li>
                                                                        <a href="404.html">404 Page</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="about-us.html">About Us Page</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item has-sub">
                                    <a href="contact.html" title="Contact us">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>Contact us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Page Loader -->
        <div id="page-preloader">
            <div class="page-loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

        <!-- Vendor JS -->
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../user/libs/jquery/jquery.min.js"></script>
        <script src="../user/libs/popper/popper.min.js"></script>
        <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
        <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
        <script src="../user/libs/slider-range/js/tmpl.js"></script>
        <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
        <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
        <script src="../user/libs/slider-range/js/jquery.slider.js"></script>
        <script src="../user/libs/slick-slider/js/slick.min.js"></script>

        <!-- Template JS -->
        <script src="../user/js/theme.js"></script>
</body>


<!-- user-acount11:10-->

</html>