<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- product-checkout07:12-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Store</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link rel="stylesheet" href="../user/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../user/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="../user/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="../user/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../user/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="../user/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="../user/libs/slick-slider/css/slick-theme.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="../user/css/style.css">
    <link rel="stylesheet" type="text/css" href="../user/css/reponsive.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../../user/img/favicon-watch.png">
    <style>
        .popup {
            width: 400px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            background-color: rgb(197, 217, 197);
            align-items: center;
            padding: 0 30px 30px;
            color: #333;
            text-align: center;
            justify-content: center;
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;
        }

        .popupOpen {
            top: 30%;
            transform: translate(-50%, -50%) scale(1);
            visibility: visible;
        }

        .popup button {
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background-color: #6fd649;
            color: #fff;
            outline: none;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;
        }

        .applyCoupon {
            visibility: visible;
        }

        .removeCoupon {
            visibility: hidden;
        }

        .applyWallet {
            visibility: visible;
        }

        .removeWallet {
            visibility: hidden;
        }
    </style>
</head>

<body class="product-checkout checkout-cart">
    <!-- user header -->
    {{> user_header}}
    <!-- main content -->
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="#">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Checkout</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

            <!-- main -->
            <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">
                                    <div class="container mt-5">
                                        <h2 class="mb-4">Shipping Details</h2>
                                        <hr>
                                        <div style="display: flex;">
                                            <div class="mb-4">
                                                <h4>Shipping Address:</h4>
                                                <p>{{address.housename}}, {{address.city}}, {{address.state}}
                                                    {{address.zip}}
                                                    <br>{{address.country}}
                                                </p>
                                            </div>
                                            <div style="margin-left: 30%;">

                                                <div class="input-group">
                                                    <span class="input-group-text">Enter Coupon Code</span>
                                                    <input type="text" aria-label="First name" class="form-control"
                                                        name="coupon" id="couponCode">
                                                    <button onclick="checkCoupon()" class="btn btn-warning applyCoupon"
                                                        id="applyCoupons">Apply</button>
                                                    <button onclick="removeCoupon()"
                                                        class="btn btn-warning removeCoupon"
                                                        id="removeCoupons">Remove</button>
                                                    {{!-- <input type="text" aria-label="Last name"
                                                        class="form-control"> --}}
                                                </div>
                                                <br>
                                                <div class="input-group">
                                                    <span class="input-group-text">Wallet Amount</span>

                                                    <input type="text" aria-label="First name" class="form-control"
                                                        name="coupon" id="Wallet" value="{{userData.[0].wallet}}"
                                                        disabled>
                                                        <p id="wallethidden" hidden>{{userData.[0].wallet}}</p>
                                                    <button onclick="applyWallet()" class="btn btn-warning applyWallet"
                                                        id="applyWallet">use</button>
                                                    <button onclick="removeWallet()"
                                                        class="btn btn-warning removeWallet"
                                                        id="removeWallet">Remove</button>
                                                </div>

                                            </div>
                                        </div>

                                        <h4>Product Details</h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each catData}}
                                                <tr>
                                                    <td>{{this.product}}</td>

                                                    <td>{{this.quentity}}</td>
                                                    <td>{{this.offerPrice}}</td>
                                                </tr>

                                                {{/each}}

                                                {{!-- <tr>
                                                    <td></td>
                                                    <td><strong>Total Price</strong></td>
                                                    <td> <strong>
                                                            <p id="totalAmount">{{totalPrice}}</p>
                                                        </strong>
                                                    </td>
                                                </tr> --}}

                                            </tbody>
                                        </table>
                                        <hr>
                                        <div style="padding-left: 60%;">

                                            <h6 style="padding-left: 45%;" id="price">{{totalPrice}}</h6>
                                            <h5 id="applied" style="display: none;">Coupon Applied</h5>
                                            <h6 style="margin-top: -7%;padding-left: 8%;display: none;"
                                                id="discountValue"></h6>
                                            <br>
                                            <h5 id="appliedWallet" style="display: none;">Wallet Applied</h5>
                                            <h6 style="margin-top: -6%;padding-left: 8%;display: none;"
                                                id="walletValue"></h6>
                                            {{!-- <h5>Shipping Charges</h5>
                                            <h6 style="margin-top: -6%;padding-left: 45%;">+10 Rs.</h6> --}}
                                            <hr>
                                            <h5>Price</h5>
                                            <h6 style="margin-top: -6%;padding-left: 45%;" id="totalAmount">
                                                {{totalPrice}}</h6>

                                        </div>

                                        <div class="mt-3">
                                            {{!-- <h4>Total: $ {{formatCurrency (reduce items 'price' 0)}}</h4> --}}
                                            {{!-- <h4 style="margin-left: 70%;" id="value">Total : Rs. {{totalPrice}}
                                            </h4> --}}
                                            {{!--
                                            <hr> --}}
                                            <!-- Payment buttons -->
                                            <p id="cartotal" hidden>{{userin}}</p>
                                            <div class="mt-3">
                                                <a href="/paymentSuccess" class="btn btn-primary">COD Payment</a>

                                                <button class="btn btn-primary razaropay" onclick="">Online
                                                    Payment</button>
                                            </div>

                                        </div>
                                        <div class="popup" id="popup">
                                            <h3>Coupon Code</h3>
                                            <p id="couponmsg"></p>
                                            <button type="button" onclick="popupClose()">OK</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{> user_footer}}

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
   <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="hasicon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <a href="/" title="Home" style="margin-left: 10%;">
                                Home</a>
                        </li>
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="../user/img/home/table-lamp.png" alt="img">Category</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE"
                                aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <div class="menu-items">
                                    <ul>
                                        <li>
                                            <a href="/allproducts">All Products </a>
                                        </li>
                                        {{#each cat}}
                                        <li>
                                            <a href="/catproducts/{{this.name}}">{{this.name}}</a>

                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <a href="/" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog"
                                    aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Account</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        {{#if userin}}
                                        <li class="item">
                                            <a href="/useraccount/{{userin}}" title="Blog List (Sidebar Left)">
                                                {{userin}}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/cart" title="Blog List (Sidebar Left) 2">Cart
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if cartCount}}
                                                    {{cartCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/wishlist" title="Category Blog (Right column)">Wishlists
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                    {{#if wishCount}}
                                                    {{wishCount}}
                                                    {{else}}
                                                    0
                                                    {{/if}}
                                                </span>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="/orderhistory" title="Blog List (No Sidebar)">Order History</a>
                                        </li>
                                        <li class="item">
                                            <a href="/signout" title="Blog Grid (No Sidebar)">Log out</a>
                                        </li>
                                        {{else}}
                                        <li class="item">
                                            <a href="/login" title="Blog Detail">Log In</a>
                                        </li>
                                        <li class="item">
                                            <a href="/user-register" title="Blog Detail">Register Account</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <!-- Vendor JS -->

    {{!-- onlinePayment intagraton --}}




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        let popup = document.getElementById('popup')
        function popupClose() {
            popup.classList.remove('popupOpen')
            //window.location.reload()
        }

        function checkCoupon(event) {

            //const coupon = $('#couponCode').val();
            const coupon = document.getElementById('couponCode').value
            const amount = document.getElementById('price').innerText
            console.log(amount)
            console.log(coupon)

            // Make the AJAX request
            $.ajax({
                url: '/couponCheck',
                type: 'POST',
                data: {
                    coupon: coupon,
                    amount: amount
                },
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        console.log(res)
                        const applied = document.getElementById('applied')
                        console.log(applied)
                        const appliedamount = document.getElementById('discountValue')
                        applied.style.display = 'inline'
                        appliedamount.style.display = 'inline'
                        document.getElementById('discountValue').innerText = -res.discount + "Rs."
                        document.getElementById('totalAmount').innerText = res.amount + "Rs."
                        const apply = document.getElementById('applyCoupons')
                        const remove = document.getElementById('removeCoupons')
                        remove.classList.remove('removeCoupon')
                        console.log(apply)
                        apply.classList.add('removeCoupon')
                        document.getElementById('couponmsg').innerHTML = `Coupon Applied Successfully`
                        popup.classList.add("popupOpen")
                        //apply.style.display = 'none'
                        console.log(res);

                    } else {
                        document.getElementById('couponmsg').innerHTML = `${res.msg}`
                        //window.alert(`${res.msg}`);
                        popup.classList.add("popupOpen")
                    }
                },
                error: function () {
                    alert('Error: Unable to communicate with the server');
                }
            });
        }

        function removeCoupon() {
            const coupon = document.getElementById('couponCode').value
            const amount = document.getElementById('price').innerText
            console.log(amount)
            console.log(coupon)
            console.log('removeCoupon() calleds')
            $.ajax({
                url: '/removeCoupon',
                method: 'post',
                data: {
                    coupon: coupon,
                    amount: amount
                },
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        console.log(res,'in the remove coupon code ')
                        const applied = document.getElementById('applied')
                        console.log(applied)
                        const appliedamount = document.getElementById('discountValue')
                        applied.style.display = 'none'
                        appliedamount.style.display = 'none'
                        document.getElementById('totalAmount').innerText = res.amount +"Rs."
                        const apply = document.getElementById('applyCoupons')
                        const remove = document.getElementById('removeCoupons')
                        remove.classList.add('removeCoupon')
                        console.log(apply)
                        apply.classList.remove('removeCoupon')
                        document.getElementById('couponmsg').innerHTML = `Coupon Removed Successfully`
                        popup.classList.add("popupOpen")

                    } else {
                        alert('something went wrong!!!!!')
                    }
                }

            })
        }

        // wallet apply
        function applyWallet() {
            console.log('function called applyWallet')
            const wallet = document.getElementById('wallethidden').innerHTML
            const amount = document.getElementById('price').innerText
            console.log(wallet)
            $.ajax({
                url: '/applyWallet',
                data: {
                    wallet: wallet,
                    amount: amount
                },
                method: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        console.log(res, 'success ')
                        const apply = document.getElementById('applyWallet')
                        const remove = document.getElementById('removeWallet')
                        document.getElementById('Wallet').value = res.wallet
                        //console.log(data,'data data data data')
                        remove.classList.remove('removeWallet')
                        console.log(apply)
                        apply.classList.add('removeWallet')
                        const applied = document.getElementById('appliedWallet')
                        console.log(applied)
                        const appliedamount = document.getElementById('walletValue')
                        applied.style.display = 'inline'
                        appliedamount.style.display = 'inline'
                        
                            document.getElementById('walletValue').innerText = -(wallet -res.wallet) + "Rs."
                            document.getElementById('totalAmount').innerText = res.amount
                        

                        document.getElementById('couponmsg').innerHTML = `Wallet amount applied Successfully`
                        popup.classList.add("popupOpen")
                    }
                }
            });
        }

        function removeWallet() {
            console.log('function called removeWallet')
            const wallet = document.getElementById('wallethidden').innerHTML
            const amount = document.getElementById('price').innerText
            console.log(wallet)
            $.ajax({
                url: '/removeWallet',
                method: 'post',
                data: {
                    amount: amount
                },
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        console.log(res,'res in the remove Wallet ')
                        const applied = document.getElementById('appliedWallet')
                        console.log(applied)
                        const appliedamount = document.getElementById('walletValue')
                        applied.style.display = 'none'
                        appliedamount.style.display = 'none'
                        document.getElementById('Wallet').value = res.wallet
                        document.getElementById('totalAmount').innerText = res.amount
                        const apply = document.getElementById('applyWallet')
                        const remove = document.getElementById('removeWallet')
                        remove.classList.add('removeWallet')
                        console.log(apply)
                        apply.classList.remove('removeWallet')
                        document.getElementById('couponmsg').innerHTML = `Wallet amount removed Successfully`
                        popup.classList.add("popupOpen")

                    } else {
                        alert('something went wrong!!!!!')
                    }
                }

            })
        }

    </script>

    // online payment
    <script>

        $(document).ready(function () {
            $('.razaropay').click(function (e) {
                e.preventDefault();

                //var formData = $(this).serialize();
                var username = document.getElementById('cartotal').innerHTML
                console.log(username)
                var amount = document.getElementById('totalAmount').innerHTML
                console.log(amount)

                $.ajax({
                    url: "/createOrder",
                    type: "POST",
                    data: {
                        username: username,
                        amount: amount
                    },
                    success: function (res) {
                        if (res.success) {
                            console.log(res)
                            var options = {
                                "key": "" + res.key_id + "",
                                "amount": "" + res.amount + "",
                                "currency": "INR",
                                "name": "WatchStore",
                                //"description": "sfojgasgoaga sfjasof arrigf eigh",
                                //"image": "https://dummyimage.com/600x400/000/fff",
                                "order_id": "" + res.order_id + "",
                                "handler": function (response) {
                                    //alert("Payment Succeeded");
                                    window.open("/paymentSuccess?pay=online", "_self")
                                },
                                //"prefill": {
                                //    "contact": "" + res.contact + "",
                                //    "name": "" + res.name + "",
                                //    "email": "" + res.email + ""
                                //},
                                //"notes": {
                                //    "description": "" + res.description + ""
                                //},
                                "theme": {
                                    "color": "#2300a3"
                                }
                            };
                            var razorpayObject = new Razorpay(options);
                            razorpayObject.on('payment.failed', function (response) {
                                alert("Payment Failed");
                            });
                            razorpayObject.open();
                        }
                        else {
                            alert(res.msg);
                        }
                    }
                })

            });
        });

    </script>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="../user/libs/jquery/jquery.min.js"></script>
    <script src="../user/libs/popper/popper.min.js"></script>
    <script src="../user/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../user/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="../user/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="../user/libs/slider-range/js/tmpl.js"></script>
    <script src="../user/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="../user/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="../user/libs/slider-range/js/jquery.slider.js"></script>
    <script src="../user/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS-->
    <script src="../user/js/theme.js"></script>
</body>


<!-- product-checkout07:13-->

</html>